# Global ignore
node_modules/
dist/
.env
dev.db
build/
.DS_Store

# Backend specific
backend/node_modules/
backend/dist/
backend/.env
backend/dev.db

# Frontend specific
frontend/node_modules/
frontend/build/
frontend/.env
